{% load user_tags %}
{% load staticfiles %}


<div class="row col-xs-12">
    <article class="col-xs-12">
        <div class="media">
            <div class="media-left">
                <a href="{% url 'tmitter-mvc-views-index_user' notice.sender.username %}">
                    <img class="media-object img-rounded" src="{{ notice.sender.face|face }}" alt="" style="width:45px;">
                </a>
            </div>
            <div class="media-body">
                <h5 class="media-heading"><a href="#" class="name" style="color:green;">{{ notice.sender.username }}</a>
                    给你的消息点了赞
                     <img src="{% static 'images/happy.png' %}">
                </h5>
                <p class="pull-right">
                    <span>{{ notice.create_date|timesince }}前</span>
                </p>
                <br>
                <!-- 原消息 -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        原消息
                    </div>
                    <div class="panel-body">
                        <a style="color:#5B00AE;">{{ notice.pollNote.note.user.username }}</a>:{{ notice.pollNote.note.message|safe|spacify|linebreaks }}
                        <p class="pull-right">
                            <a href="{% url 'tmitter-mvc-views-detail' notice.pollNote.note.id %}">转入原消息</a>
                        </p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </article>
</div>
