{% load i18n %}
<!-- {% get_current_language as LANGUAGE_CODE %}  -->
<!-- {% get_available_languages as LANGUAGES %} -->
<!-- {% get_current_language_bidi as LANGUAGE_BIDI %} -->
{% load user_tags %}
{% load common_tags %}
{% load staticfiles %}
<!-- 显示朋友头像  -->

<tr>
	<th>
		<a href="{% url 'tmitter-mvc-views-index_user' user.username %}">
			<img class="media-object img-rounded" src="{{ user.face|face }}" alt="" >
		</a>
	</th>
	<th>
		<h3><a href="#" class="name" style="color:#02DF82;">{{ user.username }}</a></h3>
	</th>
	<th>
		<h3>{{ user.grade }}</h3>
	</th>
</tr>
